
@import url(//fonts.googleapis.com/css?family=Ruslan+Display);

body {
  background: #0a0;
  height: 100%;
  width: 100%;

  margin: 0;
}

app {
  height: 100%;
  width: 100%;
  background: orange;
}

header {
  background: #470;
  color: #ded;
  height: 80px;
}

.head-title {
  line-height: 80px;
  padding: 0 40px;
}

.head-title-name {
  font-family: 'Ruslan Display', cursive;
  font-size: 42px;
  position: relative;
  top: 4px;
}

.head-title-suit {
  font-size: 22px;
}

.main-container {
  position: relative;
  height: 850px;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-align-items: stretch;
  align-items: stretch;
}

.init-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

  -webkit-align-items: center;
  align-items: center;
}

.init-message {
  color: #d21;
  position: absolute;
  top: 220px;
  width: 300px;
}

.name-input {
  border-radius: 6px;
  display: block;
  font-size: 18px;
  height: 40px;
  position: absolute;
  top: 240px;
  padding-left: 10px;
  width: 300px;
}

.play-btn {
  background: #c80;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 26px;
  height: 100px;
  position: absolute;
  top: 310px;
  width: 100px;
}


.games-list {
  background: #efe;
  font-family: arial;
  list-style-type: none;
  width: 1100px;
}

.game-line {
  height: 30px;
  padding: 10px;
}

.odd {
  background-color: #e2f7e1;
}

.game-name {
  padding-left: 20px;
}

.game-status {
  text-align: right;
  width: 160px;
}

.game-btn-cell {
  width: 80px;
}

.game-btn {
  background: #c90;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 24px;
  width: 100%;
}

.active-game {
  color: #f00;
}

.finished-game {
  color: #888;
}

.create-btn {
  background: #950;
  border: 0;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 14px;
  height: 30px;
  margin: 10px 4px;
  width: 120px;
}


/* game table */
router-outlet {
  position: absolute;
  width: 100%;
}

.table {
  position: relative;
  background: #080;

  height: 100%;
  width: 1100px;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -webkit-align-items: stretch;
  align-items: stretch;
}

.top-player, .bottom-player {

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-align-items: center;
  align-items: center;
}

.horizintal-panel {
  height: 150px;
}

.vertical-panel {
  width: 170px;
}

.middle-container {
  max-height: 540px;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -webkit-align-items: center;
  align-items: center;
}

.left-player, .right-player {

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-align-items: center;
  align-items: center;
}


.game-container {
  background: #060;
  position: relative;

  height: 540px;
  width: 760px;

  z-index: 900;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.top-panel {
  background: #B0BA63;
  height: 64px;
  width: 100%;
}

.names-container {
  padding: 0 20px;
  height: inherit;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -webkit-align-items: center;
  align-items: center;
}


.bottom-panel {
  background: #B0BA63;
  height: 50px;
  width: 100%;
}

.bottom-panel-text {
  font-family: arial;
  line-height: 50px;
  padding: 0 160px 0 20px;
}

.timer {
  color: #fff;
}

.battle-area {
  position: relative;
  height: 440px;
  z-index: 800;
}

.light {
  height: 20px;
  width: 20px;
  background: grey;
  border-radius: 4px;
  position: absolute;
}

.active-light {
  background: #58FF00;
}

.looser-light {
  background: #f00;
}

.top-light {
  top: 4px;
  left: 370px;
}

.bottom-light {
  bottom: 4px;
  left: 370px;
}

.left-light {
  left:4px;
  top: 210px;
}

.right-light {
  right: 4px;
  top: 210px;
}


.game-panel {
  background: #B0BA63;
}

.player-name {
  color: #232;
  font-family: arial;
  padding: 10px;
}

.active-player {
  background: #884;
  color: #fff;
}

.table-btn {
  background: #840;
  border: 0;
  border-radius: 4px;
  color: #ded;
  float: right;
  font-size: 14px;
  height: 30px;
  margin: 10px 10px 10px 0;
  width: 120px;
}


.card {
  background: url(../assets/images/cards.png) no-repeat;
  border-radius: 8px;
  height: 123px;
  overflow: hidden;
  width: 79px;
}

.deactivated {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/images/cards.png) no-repeat;
}

.rotated{
  transform: rotate(90deg);
}

.curr-player-card {
  transition: transform 0.3s;
}

.curr-player-card:hover {
  transform: translateY(-20px);
}

.trump {
  left: calc(75% + 236px);
  position: absolute;
  top: calc(50% - 62px);
  z-index: 900;
}

.deck {
  left: calc(75% + 236px);
  position: absolute;
  top: calc(50% - 22px);
  z-index: 2000;
}

.animated-card {
  position: absolute;
}

/*club*/
.suit1 { background-position-y: -123px; } /*diamond*/
.suit2 { background-position-y: -246px; } /*heart*/
.suit3 { background-position-y: -369px; } /*spade*/

.suit4 { background-position-y: -492px; } /*back*/

.value1 { background-position-x: -79px; }
.value2 { background-position-x: -158px; }
.value3 { background-position-x: -237px; }
.value4 { background-position-x: -316px; }
.value5 { background-position-x: -395px; }
.value6 { background-position-x: -474px; }
.value7 { background-position-x: -553px; }
.value8 { background-position-x: -632px; }
.value9 { background-position-x: -711px; }
.value10 { background-position-x: -790px; }
.value11 { background-position-x: -869px; }
.value12 { background-position-x: -948px; }

.back { background-position: -158px -492px; }
.hor-back { background-position: -237px -492px; }


.white-text {
  color: #ffc;
}

.game-over {
  padding-top: 20px;
}

.time-over {
  color: #e00;
}

.game-over-message {
  text-align: center;
}

.animated {
  transition-property: width;
  transition-duration: 3s;
}


/*screen-xs*/
@media (max-width: 768px) {
  header { text-align: center; }
  .head-title-name {
    font-size: 28px;
    top: 2px;
  }
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {

}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {

}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {

}
