<div class="table">
  <div class="horizintal-panel">
    <div class="top-player horizintal-panel" *ngIf="durakGame.topVisible">
      <card-cmp
        *ngFor="let card of durakGame.players[durakGame.topIndex].cards"
        [card]="card" [isVisible]="true"
        [margin]="durakGame.players[durakGame.topIndex].cardsMargin">
      </card-cmp>
    </div>
  </div>
  <div class="middle-container">
    <div class="vertical-panel">
      <div class="left-player vertical-panel" *ngIf="durakGame.leftVisible">
        <card-cmp
          *ngFor="let card of durakGame.players[durakGame.leftIndex].cards"
          [card]="card" [isVisible]="true" [rotated]="true"
          [margin]="durakGame.players[durakGame.leftIndex].cardsMargin">
        </card-cmp>
      </div>
    </div>
    <div class="game-container">
      <div class="top-panel">
        <div class="names-container">
          <span class="player-name" [ngClass]="{'active-player': durakGame.players[durakGame.currPlayerIndex].isActive}">{{durakGame.players[durakGame.currPlayerIndex].name}}</span>
          <span class="player-name" [ngClass]="{'active-player': durakGame.players[durakGame.rightIndex].isActive}" *ngIf="durakGame.rightVisible">{{durakGame.players[durakGame.rightIndex].name}}</span>
          <span class="player-name" [ngClass]="{'active-player': durakGame.players[durakGame.topIndex].isActive}" *ngIf="durakGame.topVisible">{{durakGame.players[durakGame.topIndex].name}}</span>
          <span class="player-name" [ngClass]="{'active-player': durakGame.players[durakGame.leftIndex].isActive}" *ngIf="durakGame.leftVisible">{{durakGame.players[durakGame.leftIndex].name}}</span>
        </div>
      </div>
      <div class="battle-area">
        <span *ngIf="durakGame.looserIndex != null" class="white-text">
          <h1 class="game-over-message game-over">GAME OVER</h1>
          <h2 class="game-over-message" *ngIf="durakGame.looserIndex !== -1">The looser is <span style="color: #fff;">{{durakGame.players[durakGame.looserIndex].name}}</span></h2>
          <h2 class="game-over-message" *ngIf="durakGame.looserIndex === -1">DRAW</h2>
        </span>
        <div class="light bottom-light" [ngClass]="{'active-light': durakGame.players[durakGame.currPlayerIndex].isActive,
          'looser-light': durakGame.players[durakGame.currPlayerIndex].isLooser}"></div>
        <div class="light top-light" [ngClass]="{'active-light': durakGame.players[durakGame.topIndex].isActive,
          'looser-light': durakGame.players[durakGame.topIndex].isLooser}" *ngIf="durakGame.topVisible"></div>
        <div class="light left-light" [ngClass]="{'active-light': durakGame.players[durakGame.leftIndex].isActive,
          'looser-light': durakGame.players[durakGame.leftIndex].isLooser}" *ngIf="durakGame.leftVisible"></div>
        <div class="light right-light" [ngClass]="{'active-light': durakGame.players[durakGame.rightIndex].isActive,
          'looser-light': durakGame.players[durakGame.rightIndex].isLooser}" *ngIf="durakGame.rightVisible"></div>
      </div>
      <div class="bottom-panel">
        <span class="bottom-panel-text">Cards in deck: {{durakGame.cardDeckNum}} </span>
        <span class="bottom-panel-text"
          *ngIf="durakGame.showTimer()">Timer: <span class="timer">{{timer.getTime()}}</span>
        </span>
        <span class="bottom-panel-text time-over" *ngIf="durakGame.isTimeOver">TIME IS OVER</span>
        <button class="table-btn" *ngIf="durakGame.buttonRights['leaveGame']" (click)="leaveGame()">Leave game</button>
        <button class="table-btn" *ngIf="durakGame.buttonRights['startGame']" (click)="startGame()">Start game</button>
        <button class="table-btn" *ngIf="durakGame.buttonRights['takeCards']" (click)="takeCards()">Take cards</button>
        <button class="table-btn" *ngIf="durakGame.buttonRights['skipMove']" (click)="skipMove()">Skip move</button>
        <button class="table-btn" *ngIf="durakGame.buttonRights['backToMenu']" (click)="backToMenu()">Back to Menu</button>
      </div>
    </div>
    <div class="vertical-panel">
      <div class="right-player vertical-panel" *ngIf="durakGame.rightVisible">
        <card-cmp
          *ngFor="let card of durakGame.players[durakGame.rightIndex].cards"
          [card]="card" [isVisible]="true" [rotated]="true"
          [margin]="durakGame.players[durakGame.rightIndex].cardsMargin">
        </card-cmp>
      </div>
    </div>
  </div>
  <div class="bottom-player horizintal-panel">
    <card-cmp
      *ngFor="let card of durakGame.players[durakGame.currPlayerIndex].cards; let cardIndex = index"
      [card]="card" [isVisible]="display.visibleCurrPlayerCards"
      [margin]="durakGame.players[durakGame.currPlayerIndex].cardsMargin"
      [cardIndex]="cardIndex">
    </card-cmp>
  </div>
</div>
<card-cmp class="trump"
  *ngIf="durakGame.showTrump()"
  [card]="durakGame.trump" [isVisible]="true" [rotated]="true" [sign]="trump">
</card-cmp>
<card-cmp class="deck"
  *ngIf="durakGame.showCardDeck()"
  [isVisible]="true" [rotated]="true" [sign]="deck">
</card-cmp>
<card-cmp class="animated-card"
  *ngFor="let card of durakGame.animatedCards;"
  [card]="card" [isVisible]="true">
</card-cmp>
<card-cmp *ngFor="let card of durakGame.inRoundCards; let cardIndex = index"
  [card]="card" [isVisible]="true" [cardIndex]="cardIndex" [sign]="in-round">
</card-cmp>
<card-cmp
  *ngFor="let card of durakGame.beatenCards; let cardIndex = index"
  [card]="card" [isVisible]="true" [sign]="beaten">
</card-cmp>

<button class="table-btn"
  style="position: absolute; top: 20px; left: calc(550px + 50%);"
  (click)="durakGame.logOut()">reset storage
</button>
